@model End_Project.Models.Users

@{
    Layout = "~/Views/Home/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <h1>Login failed. Username and password did not match</h1>
    </div>
</body>
</html>
