
@{
    ViewBag.Title = "Index";
}

<h2>PageFOKKINGView</h2>

@Html.ActionLink("Search in Collection", "PageView", "Home", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Add record to collection", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

@Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })